{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}
    <div class="encabezado_index">
        <h1>Bienvenidos al buscador de Repuestos y Despiece de Ventituc</h1>
        <img src="{% static 'FB_IMG_1701080511609.jpg' %}" alt="Viva peru xd">
    </div> 
<div class="index">
    <p>Somos una empresa dedicada y especializada a la reparacion y restauracion de ventiladores. Contamos con todo tipo de garantia, estamos en el rubro hace mas de 10 años y siempre somos elegidos por la calidad de nuestra reparaciones</p>
</div>
{% endblock %}